body {
    font-family: 'Times New Roman';
 }
 p{
    text-align:center;
}
hr{
    width: 150px;
}
 #title {
    text-align:center;
}

#title2{
    text-align:center;
    color: rgb(9, 116, 0);
}
#paraTitle{
    text-align: center;
    background-color: rgb(254, 200, 252);
    color: rgb(254, 46, 150);
}
#div-para{
    background-color: rgb(255, 254, 197);
}
#para1{
    color: rgb(52, 60, 232);
}
#para2{
    color: rgb(249, 60, 46);
}
#para3{
    color: rgb(19, 120, 51);
}